body {
    background: #f0f0f0;
    font-size: 1.3em;
    font-family: "Source Sans Pro", "Segoe UI", Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.error {
    color: red;
    font-size: .8em;
}

.message {
    padding: 5px;
    margin: 10px 0;
    background: limegreen;
    color: #333;
    font-size: .8em;
}