{% extends 'base.html' %}

{% block body %}

    {% if messages %}
        {% for message in messages %}
            <div>{{ message }}</div>
        {% endfor %}
    {% endif %}

    <div class="site-hero">
        <div class="overlay"></div>
        <div class="content">
            <h2>O que você está pensando?</h2>
            <p>Tuite para seus amigos.</p>
        </div>
    </div>
    <div class="tuites-home">
        {% for tuite in tuites %}
            {% include 'includes/card.html' %}
        {% endfor %}
    </div>
{% endblock %}